<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LISTE DES PROJETS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Liste des projets</h1>

    <div class="project-container">
        {% for project in projects %}
        <div class="project-card">
            <h2 class="project-title">{{ project.name }}</h2>
            <p class="project-description">{{ project.description }}</p>
            <form action="{{ url_for('vote_project', project_id=project.id) }}" method="POST">
                <button type="submit">Vote</button>
            </form>
        </div>
        {% endfor %}
    </div>

    <h1>Liste des Utilisateurs</h1>

<div class="user-container">
    {% for user in users %}
    <div class="user-card">
        <h2>{{ user.username }}</h2>
        <p>Tokens: {{ user.tokens }}</p>
    </div>
    {% endfor %}
</div>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>
